@namespace BlazorComponents1.Pages
@using Microsoft.Extensions.Logging
@page "/BindControl"

<div style="font-size:20px">Two way to pass parameters to component by binding <code>bind</code>, <code>bind-xxx</code>, <code>bind-xxx:event=</code> with implicit event (<code>EventCallback</code>) and with reserved event's name <code>..Changed</code>.</div>
<br />


<p>inputValue &nbsp;<input @bind="@inputValue.ClientX" />,<input @bind="@inputValue.ClientY" /></p>

<Component2 @bind-value2="@inputValue" @bind-value2:event="Event2"></Component2>
<br />
<Component3 @bind-value3="@inputValue"></Component3>


@code {

    MouseEventArgs inputValue = new MouseEventArgs();

}
