@namespace BlazorComponents1.Pages
@using Microsoft.Extensions.Logging
@inject ILogger<Component2> ilogger

<div style="border:1px solid; background-color:gainsboro; padding: 5px;">
    <div style="font-weight:bold">Component2 (component parameter bind by inplicit event's name)</div>

    <button class="btn btn-primary" @onclick="@( async (e) => await Event2.InvokeAsync(e))">
        Reset Value2
    </button>

    <p>@($"Value2={Value2.ClientX},{Value2.ClientY}")</p>
</div>

@code {

    [Parameter]
    public EventCallback<MouseEventArgs> Event2 { get; set; }

    [Parameter]
    public MouseEventArgs Value2 { get; set; }

}
