@namespace BlazorComponents1.Pages
@page "/Ref"

<div style="font-size:20px">Reading and writing any data inside component using <code>Ref</code> keywords</div>

<p>@toDisplay</p>
<br />
<button class="btn btn-primary" style="width:250px" @onclick="async () => await WriteMethod()">Write to component</button>
<button class="btn btn-primary" style="width:250px" @onclick="async () => await ReadMethod()">Read from component</button>
<br /><br />
<Component4 @ref="cmp"></Component4>


@code {

    Component4 cmp;
    string toDisplay;

    async Task ReadMethod()
    {
        toDisplay = cmp.testString;
    }

    async Task WriteMethod()
    {
        await cmp.TestMethod(Program.RND.Next().ToString());

    }
}